.about-page {
    padding: 3rem;
    margin-top: 30%;
    margin-bottom: 30%;

}

.about-page h1 {
    color: red;
}

.about-page h6 {
    color: gray;
}

.about-page .about-title {
    margin-bottom: 40px
}