.admin-page {
    margin-top: 25%;
    margin-left: 5%;
    margin-right: 5%;
}

.admin-page h4 {
    text-align: center;
    color: gray;
}

.admin-page h1 {
    text-align: center;
    color: gray;
}

.admin-page .content {
    display: flex;
    min-height: 90vh;
}

.admin-page .products {
    flex: 3;
}

.admin-page .coupons {
    flex: 2;
}

.admin-page .form-control {
    margin: 3px;
}

.admin-page .admin-title {
    margin-top: 20px;
    margin-bottom: 40px;
}